body{
    background-color: rgba(5, 5, 5, 0.938);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: sans-serif;

}
.container{
    background-color:blueviolet;
    padding: 3rem;
    border-radius: 1rem;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.form{
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 1rem;
    column-gap: 3rem;
    justify-content: center;
    align-items: center;
}

.title{
    margin: 0;
    text-align: center;
    color: black;
}

label{
    font-weight: bold;
}
.characterAmtContainer{
    display: flex;
    align-items: center;
}
.number-input{
    width: 2rem;
}
.password-display{
    background-color: white;
    color: black;
    padding: 1rem;
    border: 1px solid black;
    height: 2rem;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    word-break: break-all;
    border-radius: .5rem;

}

.btn{
    grid-column: span 2;
    background-color:green;
    color: white;
    padding: .5rem 1rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 1rem;

}
.btn:hover{
    background-color: turquoise;
}